
.app {
  height: 100vh;
  width: 100vw;
  .header {
    height: 60px;
    background-color: rgb(0, 0, 74);
    color: white;
    display: flex;
    align-items: center;
    padding: 24px;
    font-size: 24px;
    position: fixed;
    z-index: 99999;
    width: 100%;
  }
  .main {
    height: 100vh;
    padding-top: 61px;
    .row {
      height: 100%;
    }
  }
}

.pointer {
  cursor: pointer;
}
.add-location {
  margin-left: 10px;
}
.start-navigation-button {
  width: 100%;
  margin: 17px 0;
}
.disabled {
  cursor: not-allowed;
}

.list-item-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.speed {
  margin-left: 17px;
  input {
    transform: rotateZ(180deg);
  }
}

.destinations {
  margin-top: 25px;
}
.old-destinations-container {
  margin-top: 25px;
}

.old-destinations {
  margin-top: 12px;
}

.list-group {
  max-height: 133px;
  overflow: auto;
}
