#map-container {
  width: 100%;
  height: 100%;
}
.childs-container {
  padding-top: 25px;
  margin-right: 26px;
}


//
// -webkit-animation-duration: 3s;
// -webkit-animation-iteration-count: infinite;
// -webkit-animation-name: pulse;
// -moz-animation-duration: 3s;
// -moz-animation-iteration-count: infinite;
// -moz-animation-name: pulse;
